body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.contain {
  text-align: center;
  padding: 0 7.5vw;
}
.content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
  background-color: #fff;
}
.center_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#info {
  color: rgba(131, 123, 123, 1);
}
.logo {
  padding-top: 2rem;
  padding-left: 2rem;
  width: 8vw;
}
.modo {
  font-size: 1.25em;
}
.page-container {
  position: relative;
  min-height: 100vh;
}

#creator-profile li {
  width: 225px;
  display: inline-block;
}
#creator-profile li p {
  margin: 10px 0 20px 0;
}

footer {
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2.5rem;
  width: 100%;
  background-color: rgb(36, 65, 9);
}
