.contain {
  text-align: center;
  padding: 0 7.5vw;
}
.content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
  background-color: #fff;
}
.center_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40vh;
  width: 100%;
}
#info {
  color: rgba(131, 123, 123, 1);
}
.logo {
  padding-top: 2rem;
  padding-left: 2rem;
  width: 8vw;
}
.modo {
  font-size: 1.25em;
}
.page-container {
  position: relative;
  min-height: 100vh;
}
.creator-profile {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.creator-profile li {
  /* max width: 225px; */
  display: inline-block;
  flex: 1 1;
  min-width: 260px;
}
.creator-profile img {
  display: flex;
  width: 100%;
}
.creator-profile li p {
  margin: 10px 0 20px 0;
  font-weight: 700;
  font-size: 1.2rem;
}
