body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.contain {
  text-align: center;
}
.content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

.info {
  color: rgba(131, 123, 123, 1);
}
.modo {
  font-size: 1.25em;
}
.page-container {
  position: relative;
  min-height: 100vh;
}

footer {
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2.5rem;
  width: 100%;
  background-color: rgba(178, 194, 163, 1);
}
