.pages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content:center;
    align-items:center;
    text-align: center;
    grid-gap:1rem;
}

.page-box{
    padding: 1rem;
    cursor: pointer;
}

.page-box:hover > .page-title:after, 
.page-box:hover > .page-title:before{
    width: 30px;
}

.page-box:hover .page-img{
    transform: translateX(-20px);
}
    
.page-title{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    position: relative;
}
    
.page-title:after{
    content: '';
    position:absolute;
    bottom: 0;
    right: 50%;
    height:4px;
    background-color: powderblue;
    transition: .5s;
}
    
.page-title:before{
    content: '';
    position:absolute;
    bottom: 0;
    left: 50%;
    width: 90px;
    height:4px;
    background-color: powderblue;
}

.page-img{
    position: relative;
    display:flex;
    justify-content:center;
    align-items:center;
    transition: .5s;
}
    
.page-img:after{
    content: '';
    position:absolute;
    top:0;
    left: 0;
}
    
