.main {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spaces {
    align-content: center;
}

button {
    border-style: none;
    background: none;
    padding: 1rem;
}

.link {
    padding: 1rem;
}
