.main {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.logout {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    padding: 1rem;
}

.user_info {
    text-align: center;
}

.spaces {
    align-content: center;
}

button {
    border-style: none;
    background: none;
    padding: 1rem;
}

.link {
    padding: 1rem;
}
